# Core dependencies
pandas>=2.1
numpy>=1.24
scipy>=1.11
matplotlib>=3.8
statsmodels>=0.14
scikit-learn>=1.4
xgboost>=2.1
seaborn>=0.13
torch>=2.3
nimfa>=1.4
optuna>=3.6
ipywidgets>=8.1
joblib>=1.4
tqdm>=4.66
pingouin>=0.5.5

# Testing
pytest>=5.4
pytest-cov>=2.8

# Linting
flake8>=3.7
black>=19.10b0

# Documentation
Sphinx>=3.0
sphinx-rtd-theme>=0.4

# Development utilities
ipython>=7.13
