# Core dependencies
pandas>=2.1
numpy>=1.24
scipy>=1.11
matplotlib>=3.8

# Testing
pytest>=5.4
pytest-cov>=2.8

# Linting
flake8>=3.7
black>=19.10b0

# Documentation
Sphinx>=3.0
sphinx-rtd-theme>=0.4

# Development utilities
ipython>=7.13
