pandas==2.2.2
numpy==1.26.4
scipy==1.13.0
matplotlib==3.8.2
statsmodels==0.14.0
scikit-learn==1.4.2
xgboost==1.7.6
seaborn==0.13.1
torch==2.1.2
nimfa==1.4.0
optuna==3.3.0
ipywidgets==8.0.4
joblib==1.2.0
tqdm==4.65.0
